body {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* nav {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
} */

/* HERO START */
.kutija {
  box-sizing: border-box;
  /* opacity: 0.9; */
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  background: url("../img/pozadina3.jpg");
  background-origin: border-box;
  background-size: cover;
  border: 5px solid rgba(0, 255, 0, 0.6);
}

/*#pozadina{
	position: absolute;
	width:100%;
	height: 100vh;
	z-index: -1;
	opacity: 0.8;
	margin:0;
	background
}*/

#logo {
  position: relative;
  top: 2rem;
  margin: auto;
  background: url("../img/logo.png") no-repeat center center;
  background-size: 80% 70%;
  width: 650px;
  height: 280px;
  transition: all 0.5s ease-in-out 0.1s;
  animation-name: senkaLogo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  z-index: 3;
  /* filter: drop-shadow(0 0 15px rgba(0, 255, 0, 0.7));
  -webkit-filter: drop-shadow(5px 5px 5px #222); */
}

@keyframes senkaLogo {
  0% {
    filter: drop-shadow(0 0 8px rgba(0, 255, 0, 0.5));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(0, 255, 0, 0.7));
  }
  100% {
    filter: drop-shadow(0 0 8px rgba(0, 255, 0, 0.5));
  }
}

#logo:hover {
  transform: scale(1.07);
}

#nadnaslov {
  position: relative;
  top: 3rem;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 3px white;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  z-index: 3;
  /*-webkit-text-stroke: 2px black;*/
}

#podnaslov {
  position: relative;
  top: 2rem;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 5px black;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  z-index: 3;
  /*-webkit-text-stroke: 2px black;*/
}

.button {
  position: relative;
  top: 4rem;
  /* background: linear-gradient(
    360deg,
    rgba(0, 255, 0, 0.2),
    rgba(0, 255, 0, 0.5)
  ); */
  /* background-color: rgba(255, 255, 255, 40%); */
  background: rgba(0, 0, 0, 0.6);

  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.8);
  border-style: solid;
  border-radius: 25px;
  text-align: center;
  width: 200px;
  height: 40px;
  margin: auto;
  transition: all 0.4s ease-in-out;
  /* padding-top: px; */
  padding-bottom: 5px;
  z-index: 3;

  animation: senkaDugme 5s infinite;
}

@keyframes senkaDugme {
  50% {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
  }
}

/*	animation-name: senkaNav;
	animation-duration: 4s;
	animation-iteration-count: infinite;*/

/*@keyframes senkaNav{
	0%{box-shadow: 2px 2px 15px rgba(0,255,0,0.1);}
	50%{box-shadow: 2px 2px 15px rgba(0,255,0,0.3);}
	100%{box-shadow: 2px 2px 15px rgba(0,255,0,0.1);}
}*/

.button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  width: 220px;
}

.button a {
  position: relative;
  bottom: 10%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  margin: auto;
  font-family: Verdana;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 2px 2px 5px black;
}

#social-media {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  color: rgba(0, 255, 0, 0.6);
  width: 100%;
  height: 60px;
  z-index: 4;
}

#social-media div > a {
  color: inherit;
  font-size: 40px;
  /* padding-right: 50px; */
  z-index: 4;
  cursor: pointer;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}

#social-media div > a:hover {
  color: rgba(0, 255, 0, 0.8);
  font-size: 45px;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
}

/* HERO END */

/* FOG START */
.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0.6;
}

.fog-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;
}
.fog-img-first {
  background: url("../img/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: magla 100s linear infinite;
}
.fog-img-second {
  background: url("../img/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: magla 60s linear infinite;
}

@keyframes magla {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
/* FOG END */

/* NAVBAR START */
.navbar {
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  width: 98.8%;
  height: 80px;
  margin: 0;
  margin-left: 9px;
  margin-bottom: 15px;
  /* background: rgba(0, 0, 0, 0.4); */
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));

  padding-top: 10px;
  /* padding-bottom: 30px; */
  /* border: 5px solid rgba(0, 255, 0, 0.4); */
  /* border: 3px solid rgba(255, 255, 255, 0.8); */
  transition: all 2s ease-in-out;
}

.scroll {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.5), rgba(0, 255, 0, 0.7));
  width: 100%;
  margin-left: 0px;
  /* -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); */
  transition: all 1s ease-in-out;
}

.navbar .items {
  padding-left: 20%;
  margin-top: 0;
  justify-content: space-between;
  width: 60%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar li {
  position: relative;
  display: inline-block;
  color: white;
  width: 200px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  padding-bottom: 10px;
  text-shadow: 3px 3px 6px black;
  transition: all 0.4s ease-in-out;
  /* background-color: rgba(255, 255, 255, 40%); */
  background: linear-gradient(
    360deg,
    rgba(0, 255, 0, 0.5),
    rgba(0, 255, 0, 0.7)
  );
  z-index: 4;
}

.navbar li:hover {
  background-color: rgba(255, 255, 255, 20%);
  width: 220px;
}

.navbar li:first-child {
  margin-left: 0px;
}

.navbar .nav-link {
  position: relative;
  z-index: 4;
  color: inherit;
  text-decoration: none;
}

.text {
  position: relative;
  padding-top: 1px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

  transition: transform 0.5s;
}

.text:hover {
  /* transform: scale(1.2); */
}
/* NAVBAR END */
