@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

$primaryFont: "Roboto", sans-serif;

// $primaryGreen: rgb(0, 204, 102);
$primaryGreen: rgb(9, 129, 74);
$primaryBlack: rgb(5, 5, 5);
$primaryGray: rgb(206, 204, 204);

@mixin flexin {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin naslov {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 3;
}

@mixin bg-text {
  content: attr(data-bg-text);
  display: block;
  font-size: 125px;
  line-height: 1;
  position: absolute;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 15px;
  z-index: 1;
  opacity: 0.2;
}

// .bg-text0::after {
//   @include bg-text;
//   color: rgba($primaryBlack, 0.2);
//   bottom: -25px;
//   right: 110px;
// }

// .bg-text1::after {
//   @include bg-text;
//   color: rgba($primaryGray, 0.9);
//   bottom: 45px;
//   right: 395px;
// }

// .bg-text2::after {
//   @include bg-text;
//   color: rgba(white, 0.3);
//   bottom: 45px;
//   right: 395px;
// }

.bg-text3::after {
  @include bg-text;
  color: $primaryGreen;
  bottom: 45px;
  left: 115px;
}

.btn {
  display: inline-block;
  font-weight: 700;
  color: rgba(white, 0.9);
  text-decoration: none;
  z-index: 3;
  font-size: 2rem;
  border-radius: 25px;
  padding: 0.2em 1em;

  &__black {
    letter-spacing: 2px;
    background: rgba($primaryBlack, 0.6);
    border: 2px solid rgba($primaryGray, 0.8);
    box-shadow: 0px 0px 10px rgba($primaryGray, 0.2);
    text-shadow: 0px 0px 10px rgba($primaryBlack, 0.5);
    transition: all 0.3s ease-in-out;
    animation: senkaDugme 5s infinite;
    &:hover {
      color: white;
      border-color: white;
      transform: scale(1.05);

      background-color: rgba($primaryGray, 0.2);
      // width: 4em;
    }
  }

  &__green {
    font-size: 1.7em;
    letter-spacing: 1px;
    background: linear-gradient(
      360deg,
      rgba($primaryGreen, 0.7),
      rgba($primaryGreen, 0.9)
    );
    border: 2px solid rgba(white, 0.8);
    text-shadow: 0px 0px 5px $primaryBlack;
    transition: all 0.3s ease-out;
    &:hover {
      box-shadow: 0px 0px 10px rgba($primaryGray, 0.2);
      transform: scale(1.05);
      color: white;
      border-color: white;
      background-color: rgba($primaryGray, 0.2);
    }
  }
  &__action_green {
    font-size: 1.7em;
    letter-spacing: 1px;
    background: $primaryGreen;
    border: 2px solid $primaryGray;
    text-shadow: 0px 0px 5px $primaryBlack;
    box-shadow: 0px 0px 5px $primaryBlack;
    transition: all 0.3s ease-out;
    &:hover {
      box-shadow: 0px 0px 10px rgba($primaryGray, 0.2);
      transform: scale(1.05);
      color: white;
      border-color: white;
      background-color: rgba($primaryGreen, 0.8);
      box-shadow: 0px 0px 15px $primaryBlack;
    }
  }
}

@keyframes senkaDugme {
  0% {
    box-shadow: 0px 0px 10px rgba($primaryGray, 0.4);
  }
  50% {
    box-shadow: 0px 0px 10px rgba($primaryGray, 0.8);
  }
  100% {
    box-shadow: 0px 0px 10px rgba($primaryGray, 0.4);
  }
}

.call-to-action {
  position: relative;
  text-align: center;
  z-index: 3;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  font-family: $primaryFont;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* HERO START */
.kutija {
  position: relative;
  box-sizing: border-box;
  /* opacity: 0.9; */
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  background: url("../img/ribolov1.jpg");
  background-origin: border-box;
  background-size: cover;
  //   background-size: 100% 100%;
  //   border: 5px solid rgba(0, 255, 0, 0.6);
  border: 5px solid $primaryGreen;
  #hero-content {
    width: 100%;
    margin-top: 5rem;
    #logo {
      position: relative;
      opacity: 0.9;
      top: -1rem;
      margin: auto;
      background: url("../img/topsetplus.png") no-repeat center center;
      background-size: 80% 50%;
      max-width: 450px;
      height: 280px;
      max-height: auto;
      transition: all 0.5s ease-in-out 0.1s;
      animation-name: senkaLogo;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      z-index: 3;
      &:hover {
        transform: scale(1.07);
      }
    }
    @keyframes senkaLogo {
      0% {
        filter: drop-shadow(0 0 8px rgba($primaryGreen, 0.5));
      }
      50% {
        filter: drop-shadow(0 0 15px rgba($primaryGreen, 0.7));
      }
      100% {
        filter: drop-shadow(0 0 8px rgba($primaryGreen, 0.5));
      }
    }

    #nadnaslov {
      @include naslov;
      top: 3rem;
      text-shadow: 1px 1px 3px rgba($primaryGray, 0.6);
      color: $primaryBlack;
      // letter-spacing: 2px;
    }

    #podnaslov {
      @include naslov;
      top: -3rem;
      text-shadow: 5px 5px 5px $primaryBlack;
      color: $primaryGray;
    }
  }
}

/* HERO END */

/* FOG START */
.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0.6;
  backdrop-filter: blur(3px);
  .fog-img {
    position: absolute;
    height: 100vh;
    width: 300vw;
    z-index: 2;
  }
  .fog-img-first {
    background: url("../img/ribolov2.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: magla 100s linear infinite;
  }
  .fog-img-second {
    background: url("../img/ribolov3.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    animation: magla 60s linear infinite;
  }
  @keyframes magla {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-200vw, 0, 0);
    }
  }
  /* FOG END */
}

/* NAVBAR START */
.navbar {
  @include flexin;
  flex-wrap: wrap;
  gap: 2%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  border: 5px solid $primaryGreen;
  border-top: 0px;
  background: linear-gradient(
    360deg,
    rgba($primaryBlack, 0.3),
    rgba($primaryBlack, 0.5)
  );
  padding: 7px 0px 7px 0px;
  // transition: all 0.3s ease;
  z-index: 5;
  backdrop-filter: blur(8px);
}
.scroll {
  // background: linear-gradient(360deg, rgba(0, 0, 0, 0.5), rgba(0, 255, 0, 0.7));
  // background: rgba($primaryGreen, 0.5);
  backdrop-filter: blur(8px);
  border: 0px;
  // transition: all 0.3s ease;
}

/* NAVBAR END */

/* ABOUT US START */
#about {
  position: relative;
  padding: 7% 20% 5% 20%;
  background: linear-gradient(
    360deg,
    rgba($primaryGray, 0.1),
    rgba($primaryBlack, 0.3)
  );
  #about-section {
    @include flexin;
    position: inherit;
    gap: 5%;
    #about-img {
      position: relative;
      height: auto;
      max-width: 70%;
      max-height: 350px;
      box-shadow: 10px 5px 10px rgba($primaryBlack, 0.5);
      // border-right: 10px solid rgba(white, 0.8);
      border-top: 5px solid $primaryGreen;
      // border-bottom: 20px solid $primaryGray;
      z-index: 3;
    }
    #about-us {
      // height: 400px;
      position: relative;
      left: 65.5px;
      top: -26.5px;
      z-index: 2;
      padding: 0px 35px 35px 50px;
      color: rgba($primaryBlack, 0.8);
      border: 20px solid $primaryGray;
      #about-title {
        // text-align: center;
        font-size: 2em;
        font-weight: bolder;
        margin-top: 2px;
        text-shadow: 3px 3px 5px rgba($primaryBlack, 0.3);
        margin-bottom: 20px;
        .rec {
          color: rgba(255, 255, 255, 0.9);
          text-shadow: 5px 5px 2px rgba($primaryBlack, 0.5);
        }
      }
      #about-title-small {
        position: relative;
        left: 200px;
        color: rgba($primaryBlack, 0.8);
        font-size: 2rem;
        font-weight: bolder;
        margin-bottom: 2px;
        text-shadow: 10px 5px 3px rgba($primaryBlack, 0.2);
        z-index: 4;
      }
      #about-p {
        // padding-right: 100px;
        margin-top: 0;
        margin-bottom: 20px;
      }
      #h-line1 {
        position: relative;
        border: 2px solid $primaryGreen;
        background-color: $primaryGreen;
        // box-shadow: 0px 0px 7px rgba($primaryBlack, 0.2);
        left: 100px;
        z-index: 3;
        width: 70%;
      }
      #h-line3 {
        border: 3px solid rgba(255, 255, 255, 0.7);
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 0px 7px rgba($primaryBlack, 0.2);
        position: relative;
        width: 100%;
        z-index: 3;
        left: -100px;
      }
    }
  }
}
/* ABOUT US END */

// SLIDER HEADER START
.slider-header {
  // border-top: 10px solid $primaryGreen;
  text-align: center;
  width: 100%;
  background-color: rgba($primaryGray, 0.1);
  padding-top: 6rem;
  position: relative;

  h1 {
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    color: $primaryGreen;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-shadow: 2px 2px 3px rgba(black, 0.5);

    letter-spacing: 1px;
  }
  p {
    margin: 0;
    color: rgba($primaryBlack, 0.8);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba($primaryGray, 0.3);
    padding-bottom: 1rem;
  }
}
// SLIDER HEADER END
.container {
  width: 100%;
  height: 70vh;
  // background: linear-gradient(
  //   360deg,
  //   rgba($primaryBlack, 0.5),
  //   rgba($primaryGreen, 0.8)
  // );
  background: linear-gradient(
    360deg,
    rgba($primaryGreen, 0.8),
    rgba($primaryGray, 0.1)
  );

  display: flex;
  justify-content: center;
  // padding-top: 1rem;
  // border-top: 10px solid rgba(white, 0.9);
  color: rgba($primaryBlack, 0.8);
  text-shadow: 3px 3px 0px rgba($primaryGray, 0.7);

  .box {
    border: 1px solid $primaryGreen;
    width: 350px;
    height: 450px;
    background: rgba(white, 0.5);
    backdrop-filter: blur(0.5);
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba($primaryBlack, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: all ease 0.3s;
  }
  .heading {
    font-weight: bold;
    font-size: 1.5rem;
    // color: $primaryGreen;
    // text-shadow: 2px 2px 3px rgba($primaryBlack, 0.2);
  }
  .model {
    height: 350px;
    max-height: 100%;
    max-width: 100%;
    // border: 5px 0px 5px 0px solid rgba($primaryBlack, 0.4);
  }
  .details {
    p {
      // font-weight: bold;
      text-align: center;
    }
  }
}
.box:hover {
  background: rgba(white, 0.9);
  transform-style: preserve-3d;
  transform: scale(1.02);
  transition: all ease 0.3s;
  border: 1px solid $primaryBlack;

  .heading {
    // color: rgba($primaryBlack, 0.8);
    // text-shadow: 3px 3px 0px rgba($primaryGray, 0.7);
    color: $primaryGreen;
    text-shadow: 2px 2px 3px rgba($primaryBlack, 0.2);
  }
}

@media (max-width: 720px) {
  .box {
    width: 94%;
    height: 290px;
    .model {
      height: 250px;
    }
    .details {
      p {
        font-size: 16px;
      }
    }
  }
}
// SLIDER IMAGE START

// SLIDER IMAGE END

// KATALOG START
.katalog-section {
  background: linear-gradient(
    360deg,
    rgb(251, 252, 249),
    rgba($primaryGreen, 0.2),
    rgba($primaryGreen, 0.8)
  );
  text-align: center;

  .katalog-header {
    @include flexin;
    flex-direction: column;
    padding-top: 5rem;
    position: relative;

    h1 {
      font-weight: 700;
      font-size: 3rem;
      margin: 0;
      color: rgba($primaryBlack, 0.9);
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      text-shadow: 4px 4px 2px rgba(white, 0.2);
    }
    p {
      margin: 0;
      color: rgba($primaryGreen, 0.4);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5rem;
      text-shadow: 2px 2px 0px rgba($primaryBlack, 0.6);
      padding-bottom: 1rem;
      a {
        text-decoration-color: $primaryGreen;
        color: white;
        text-shadow: 2px 2px 0px rgba($primaryBlack, 0.5);
        transition: all 0.2s ease;
        &:hover {
          text-shadow: 2px 2px 5px $primaryBlack;
        }
      }
    }
  }
  .katalog {
    width: 60%;
    height: 70vh;
    border-top: 10px solid $primaryGreen;
  }
}
// KATALOG END

// CONTACT START
.contact-section {
  @include flexin;
  flex-direction: column;

  background: linear-gradient(
    360deg,
    rgba($primaryGray, 0.9),
    rgba($primaryGreen, 0.5),
    rgb(251, 252, 249)
  );
  .contact-header {
    padding-top: 10rem;
    text-align: center;
    position: relative;

    h1 {
      color: $primaryBlack;
      text-shadow: 4px 4px 2px rgba(white, 0.5);
      font-weight: 700;
      font-size: 3rem;
      z-index: 2;
      margin-bottom: 0;
    }
    p {
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
      text-shadow: 4px 4px 5px rgba(black, 0.9);
      padding-bottom: 1rem;
      margin-top: 0;
    }
  }
  .contact-body {
    @include flexin;
    flex: 1 1 100%;
    text-align: center;
    gap: 1%;
    width: 50%;
    padding-bottom: 2rem;
    .contact-item {
      background: rgba(white, 0.5);
      backdrop-filter: blur(8px);
      border: 2px solid $primaryBlack;
      box-shadow: 2px 2px 5px rgba($primaryBlack, 0.6);
      border-radius: 5%;
      padding: 1em;
      transition: all 0.2s ease;
      h1 {
        color: white;
        font-size: 1.5em;
        font-weight: 700;
        text-shadow: 2px 2px 5px rgba($primaryBlack, 0.8);
      }
      p {
        font-size: 1em;
        text-shadow: 1px 1px 3px rgba($primaryBlack, 0.3);
      }
      a {
        color: rgba($primaryGreen, 0.8);
        background-color: rgba(white, 0.8);
        transition: all 0.2s ease;
        box-shadow: 2px 2px 5px rgba($primaryBlack, 0.6);

        &:hover {
          transform: scale(1.05);
          color: $primaryGreen;
          background-color: white;
        }
      }
      &:hover {
        background: rgba(white, 0.3);
        border-radius: 10%;
      }
    }
  }
}

.footer {
  @include flexin;
  flex-direction: column;
  background: rgba($primaryBlack, 0.1);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 30vh;
  .footer-first {
    @include flexin;
    flex: 1 1 100%;
    width: 80%;
    .footer-about {
      width: 33.333%;
      text-align: left;
      border-left: 2px solid $primaryGray;
      border-right: 2px solid $primaryGray;

      p {
        display: inline-block;
      }
      img {
        display: inline-block;
        max-width: 335px;
        padding-left: 30px;
      }
    }
    .footer-contact {
      display: flex;
      flex-direction: column;
      gap: 5%;
      width: 33.333%;
      text-align: left;
      border-left: 2px solid $primaryGray;
      border-right: 2px solid $primaryGray;
      padding-left: 30px;
      .footer-contact-item {
        padding-bottom: 10px;
        a {
          font-size: 1.2rem;
          color: rgba($primaryBlack, 0.7);
          text-decoration: none;
          position: relative;
          top: -7px;
          &:hover {
            color: rgba($primaryGreen, 0.7);
          }
        }
        .fas {
          font-size: 2rem;
        }
        .fa-map-marker-alt {
          padding-left: 5px;
        }
        .fa-mobile-alt {
          padding-left: 7px;
        }
        .fa-at {
          padding-left: 2px;
        }
      }
    }
    .footer-social {
      width: 33.333%;
      text-align: center;
      font-size: 3rem;
      a {
        color: rgba($primaryBlack, 0.8);

        text-decoration: none;
        transition: all 0.3s ease;
        &:hover {
          font-size: 3.1rem;
          color: rgba($primaryGreen, 0.9);
        }
      }
    }
  }
  .footer-copyright {
    width: 100%;
    border-top: 2px solid $primaryGray;
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 5px;
    padding-top: 5px;
    a {
      color: rgba($primaryGreen, 0.9);
      text-decoration: none;
      &:hover {
        color: rgba($primaryBlack, 0.8);
      }
    }
  }
}
// CONTACT END
