@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.bg-text3::after {
  content: attr(data-bg-text);
  display: block;
  font-size: 125px;
  line-height: 1;
  position: absolute;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 15px;
  z-index: 1;
  opacity: 0.2;
  color: #09814a;
  bottom: 45px;
  left: 45px;
}

@media screen and (max-width: 864px) {
  .bg-text3::after {
    display: none;
  }
}

.btn {
  display: inline-block;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  z-index: 3;
  font-size: 2rem;
  border-radius: 25px;
  padding: 0.2em 1em;
}

@media screen and (max-width: 864px) {
  .btn {
    font-size: 1.5rem;
  }
}

.btn__black {
  letter-spacing: 2px;
  background: rgba(5, 5, 5, 0.6);
  border: 2px solid rgba(206, 204, 204, 0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(206, 204, 204, 0.2);
          box-shadow: 0px 0px 10px rgba(206, 204, 204, 0.2);
  text-shadow: 0px 0px 10px rgba(5, 5, 5, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: senkaDugme 5s infinite;
          animation: senkaDugme 5s infinite;
}

.btn__black:hover {
  color: white;
  border-color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: rgba(206, 204, 204, 0.2);
}

@media screen and (max-width: 864px) {
  .btn__black {
    position: relative;
    top: -3rem;
  }
}

.btn__blackTwo {
  font-size: 1.5em;
  letter-spacing: 1px;
  background: rgba(5, 5, 5, 0.6);
  border: 2px solid rgba(206, 204, 204, 0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(206, 204, 204, 0.2);
          box-shadow: 0px 0px 10px rgba(206, 204, 204, 0.2);
  text-shadow: 0px 0px 10px rgba(5, 5, 5, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: senkaDugme 5s infinite;
          animation: senkaDugme 5s infinite;
}

.btn__blackTwo:hover {
  color: white;
  border-color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: rgba(206, 204, 204, 0.2);
}

.btn__green {
  font-size: 1.5em;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(9, 129, 74, 0.7)), to(rgba(9, 129, 74, 0.9)));
  background: linear-gradient(360deg, rgba(9, 129, 74, 0.7), rgba(9, 129, 74, 0.9));
  border: 2px solid rgba(255, 255, 255, 0.8);
  text-shadow: 0px 0px 5px #050505;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
}

.btn__green:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(206, 204, 204, 0.2);
          box-shadow: 0px 0px 10px rgba(206, 204, 204, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
  border-color: white;
  background-color: rgba(206, 204, 204, 0.2);
}

.btn__action_green {
  font-size: 1.7em;
  letter-spacing: 1px;
  background: #09814a;
  border: 2px solid #cecccc;
  text-shadow: 0px 0px 5px #050505;
  -webkit-box-shadow: 0px 0px 5px #050505;
          box-shadow: 0px 0px 5px #050505;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn__action_green:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(206, 204, 204, 0.2);
          box-shadow: 0px 0px 10px rgba(206, 204, 204, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
  border-color: white;
  background-color: rgba(9, 129, 74, 0.8);
  -webkit-box-shadow: 0px 0px 15px #050505;
          box-shadow: 0px 0px 15px #050505;
}

.btn__logo {
  background-image: url("/img/topsetplus.png");
  background-size: contain;
  height: 45px;
  width: 95px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn__logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: white;
}

@-webkit-keyframes senkaDugme {
  0% {
    -webkit-box-shadow: 0px 0px 15px rgba(206, 204, 204, 0.4);
            box-shadow: 0px 0px 15px rgba(206, 204, 204, 0.4);
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(206, 204, 204, 0.8);
            box-shadow: 0px 0px 20px rgba(206, 204, 204, 0.8);
  }
  100% {
    -webkit-box-shadow: 0px 0px 15px rgba(206, 204, 204, 0.4);
            box-shadow: 0px 0px 15px rgba(206, 204, 204, 0.4);
  }
}

@keyframes senkaDugme {
  0% {
    -webkit-box-shadow: 0px 0px 15px rgba(206, 204, 204, 0.4);
            box-shadow: 0px 0px 15px rgba(206, 204, 204, 0.4);
  }
  50% {
    -webkit-box-shadow: 0px 0px 20px rgba(206, 204, 204, 0.8);
            box-shadow: 0px 0px 20px rgba(206, 204, 204, 0.8);
  }
  100% {
    -webkit-box-shadow: 0px 0px 15px rgba(206, 204, 204, 0.4);
            box-shadow: 0px 0px 15px rgba(206, 204, 204, 0.4);
  }
}

.call-to-action {
  position: relative;
  text-align: center;
  z-index: 3;
}

@media screen and (max-width: 864px) {
  .call-to-action #more {
    position: relative;
    top: -4.3rem;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 864px) and (max-width: 1500px) {
  .call-to-action .btn__black {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* HERO START */
.kutija {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* opacity: 0.9; */
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  background: url("/img/ribolov1.jpg");
  background-origin: border-box;
  background-size: cover;
  border: 5px solid #09814a;
}

@media screen and (max-width: 864px) {
  .kutija {
    height: 100vh;
  }
}

.kutija #social-media {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(5, 5, 5, 0.3)), to(rgba(5, 5, 5, 0.5)));
  background: linear-gradient(360deg, rgba(5, 5, 5, 0.3), rgba(5, 5, 5, 0.5));
  text-align: center;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.kutija #social-media .social-media-item .fas {
  color: #09814a;
}

.kutija #social-media .social-media-item a {
  color: white;
  text-shadow: 0px 0px 5px black;
  text-decoration: none;
}

@media screen and (max-width: 864px) {
  .kutija #social-media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1em;
    z-index: 5;
    padding-left: 0;
    padding-right: 0;
  }
}

.kutija #hero-content {
  width: 100%;
  margin-top: 5rem;
}

@media screen and (max-width: 864px) {
  .kutija #hero-content {
    margin-top: -20px;
  }
}

.kutija #hero-content #logo {
  position: relative;
  opacity: 0.9;
  top: -1rem;
  margin: auto;
  background: url("/img/topsetplus.png") no-repeat center center;
  background-size: 80% 50%;
  max-width: 450px;
  height: 280px;
  max-height: auto;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  -webkit-animation-name: senkaLogo;
          animation-name: senkaLogo;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  z-index: 3;
}

.kutija #hero-content #logo:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

@media screen and (max-width: 864px) {
  .kutija #hero-content #logo {
    top: -3rem;
    background-size: 80% 40%;
  }
}

@-webkit-keyframes senkaLogo {
  0% {
    -webkit-filter: drop-shadow(0 0 8px rgba(9, 129, 74, 0.5));
            filter: drop-shadow(0 0 8px rgba(9, 129, 74, 0.5));
  }
  50% {
    -webkit-filter: drop-shadow(0 0 15px rgba(9, 129, 74, 0.7));
            filter: drop-shadow(0 0 15px rgba(9, 129, 74, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(0 0 8px rgba(9, 129, 74, 0.5));
            filter: drop-shadow(0 0 8px rgba(9, 129, 74, 0.5));
  }
}

@keyframes senkaLogo {
  0% {
    -webkit-filter: drop-shadow(0 0 8px rgba(9, 129, 74, 0.5));
            filter: drop-shadow(0 0 8px rgba(9, 129, 74, 0.5));
  }
  50% {
    -webkit-filter: drop-shadow(0 0 15px rgba(9, 129, 74, 0.7));
            filter: drop-shadow(0 0 15px rgba(9, 129, 74, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(0 0 8px rgba(9, 129, 74, 0.5));
            filter: drop-shadow(0 0 8px rgba(9, 129, 74, 0.5));
  }
}

.kutija #hero-content #nadnaslov {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 3;
  top: 3rem;
  text-shadow: 1px 1px 3px rgba(206, 204, 204, 0.6);
  color: #050505;
}

@media screen and (max-width: 864px) {
  .kutija #hero-content #nadnaslov {
    font-size: 2rem;
  }
}

@media screen and (max-width: 864px) {
  .kutija #hero-content #nadnaslov {
    top: 1rem;
  }
}

.kutija #hero-content #podnaslov {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 3;
  top: -3rem;
  text-shadow: 5px 5px 5px #050505;
  color: #cecccc;
}

@media screen and (max-width: 864px) {
  .kutija #hero-content #podnaslov {
    font-size: 2rem;
  }
}

@media screen and (max-width: 864px) {
  .kutija #hero-content #podnaslov {
    top: -6rem;
  }
}

/* HERO END */
/* FOG START */
.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  opacity: 0.6;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  /* FOG END */
}

.fog-container .fog-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;
}

.fog-container .fog-img-first {
  background: url("/img/ribolov2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  -webkit-animation: magla 100s linear infinite;
          animation: magla 100s linear infinite;
}

.fog-container .fog-img-second {
  background: url("/img/ribolov3.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  -webkit-animation: magla 60s linear infinite;
          animation: magla 60s linear infinite;
}

@-webkit-keyframes magla {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-200vw, 0, 0);
            transform: translate3d(-200vw, 0, 0);
  }
}

@keyframes magla {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-200vw, 0, 0);
            transform: translate3d(-200vw, 0, 0);
  }
}

/* NAVBAR START */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  border: 5px solid #09814a;
  border-top: 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(5, 5, 5, 0.3)), to(rgba(5, 5, 5, 0.5)));
  background: linear-gradient(360deg, rgba(5, 5, 5, 0.3), rgba(5, 5, 5, 0.5));
  padding: 7px 0px 7px 0px;
  z-index: 5;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

@media screen and (max-width: 864px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar .burger {
  display: none;
}

@media screen and (max-width: 864px) {
  .navbar {
    height: 60px;
  }
  .navbar .burger {
    display: block;
    font-size: 2.5rem;
  }
  .navbar .burger i {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-text-stroke: 2px #09814a;
  }
  .navbar .burger:active i {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .navbar .btn__green, .navbar .btn__blackTwo, .navbar .btn__logo {
    display: none;
  }
}

.scroll {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 0px;
}

/* NAVBAR END */
/* MOBILE NAVBAR START */
.mobile-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  position: fixed;
  background-color: #09814a;
  width: 100%;
  height: 100vh;
  border: 5px solid #cecccc;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.mobile-nav .mobile-copyright {
  position: relative;
  bottom: -30px;
  width: 100%;
  background-color: #cecccc;
  text-align: center;
  font-size: 1rem;
}

.mobile-nav .mobile-copyright a {
  color: rgba(9, 129, 74, 0.9);
  text-decoration: none;
}

.mobile-nav .mobile-copyright a:hover {
  color: rgba(5, 5, 5, 0.8);
}

.mobile-nav #social {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(5, 5, 5, 0.3)), to(rgba(5, 5, 5, 0.5)));
  background: linear-gradient(360deg, rgba(5, 5, 5, 0.3), rgba(5, 5, 5, 0.5));
  text-align: center;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 1rem;
  padding-top: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mobile-nav #social .social-media-item .fas {
  color: #050505;
}

.mobile-nav #social .social-media-item a {
  color: white;
  text-shadow: 0px 0px 5px black;
  text-decoration: none;
}

@media screen and (max-width: 864px) {
  .mobile-nav #social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1em;
    z-index: 5;
    padding-left: 0;
    padding-right: 0;
  }
}

.mobile-nav__inactive {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: none;
}

.mobile-nav__active {
  opacity: 1;
  display: block;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  20% {
    -webkit-filter: opacity(0.2);
            filter: opacity(0.2);
  }
  40% {
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }
  60% {
    -webkit-filter: opacity(0.6);
            filter: opacity(0.6);
  }
  80% {
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
  }
  100% {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
  20% {
    -webkit-filter: opacity(0.2);
            filter: opacity(0.2);
  }
  40% {
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }
  60% {
    -webkit-filter: opacity(0.6);
            filter: opacity(0.6);
  }
  80% {
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
  }
  100% {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
}

.mobile-nav ul {
  list-style-type: none;
  padding: 0px;
  margin-top: 30px;
}

.mobile-nav ul li {
  margin: auto;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-nav ul li .btn {
  padding-left: 60px;
  padding-right: 60px;
}

.mobile-nav ul li .btn__green {
  -webkit-box-shadow: 0px 0px 20px rgba(5, 5, 5, 0.9);
          box-shadow: 0px 0px 20px rgba(5, 5, 5, 0.9);
}

.mobile-nav ul li .mobileLogo {
  width: 80%;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  -webkit-animation-name: senkaMobileLogo;
          animation-name: senkaMobileLogo;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes senkaMobileLogo {
  0% {
    -webkit-filter: drop-shadow(0 0 8px rgba(206, 204, 204, 0.5));
            filter: drop-shadow(0 0 8px rgba(206, 204, 204, 0.5));
  }
  50% {
    -webkit-filter: drop-shadow(0 0 15px rgba(206, 204, 204, 0.7));
            filter: drop-shadow(0 0 15px rgba(206, 204, 204, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(0 0 8px rgba(206, 204, 204, 0.5));
            filter: drop-shadow(0 0 8px rgba(206, 204, 204, 0.5));
  }
}

@keyframes senkaMobileLogo {
  0% {
    -webkit-filter: drop-shadow(0 0 8px rgba(206, 204, 204, 0.5));
            filter: drop-shadow(0 0 8px rgba(206, 204, 204, 0.5));
  }
  50% {
    -webkit-filter: drop-shadow(0 0 15px rgba(206, 204, 204, 0.7));
            filter: drop-shadow(0 0 15px rgba(206, 204, 204, 0.7));
  }
  100% {
    -webkit-filter: drop-shadow(0 0 8px rgba(206, 204, 204, 0.5));
            filter: drop-shadow(0 0 8px rgba(206, 204, 204, 0.5));
  }
}

.mobile-nav .mobile-burger {
  background-color: rgba(5, 5, 5, 0.3);
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  text-align: center;
}

.mobile-nav .mobile-burger .burger {
  display: block;
  font-size: 2.7rem;
}

.mobile-nav .mobile-burger .burger i {
  color: #09814a;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-text-stroke: 2px #cecccc;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mobile-nav .mobile-burger .burger:active i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* MOBILE NAVBAR END */
/* ABOUT US START */
#about {
  position: relative;
  padding: 7% 20% 5% 20%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(206, 204, 204, 0.1)), to(rgba(5, 5, 5, 0.3)));
  background: linear-gradient(360deg, rgba(206, 204, 204, 0.1), rgba(5, 5, 5, 0.3));
}

@media screen and (max-width: 864px) {
  #about {
    position: static;
    padding: 0px;
  }
}

@media screen and (min-width: 864px) and (max-width: 1500px) {
  #about {
    position: static;
    padding: 0px;
    padding-top: 7%;
  }
}

#about #about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: inherit;
  gap: 5%;
}

@media screen and (max-width: 864px) {
  #about #about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#about #about-section #about-img {
  position: relative;
  height: auto;
  max-width: 70%;
  max-height: 350px;
  -webkit-box-shadow: 10px 5px 10px rgba(5, 5, 5, 0.5);
          box-shadow: 10px 5px 10px rgba(5, 5, 5, 0.5);
  border-top: 5px solid #09814a;
  z-index: 3;
}

@media screen and (max-width: 864px) {
  #about #about-section #about-img {
    display: none;
  }
}

#about #about-section #about-us {
  position: relative;
  left: 65.5px;
  top: -26.5px;
  z-index: 2;
  padding: 0px 35px 35px 50px;
  color: rgba(5, 5, 5, 0.8);
  border: 20px solid #cecccc;
}

@media screen and (max-width: 864px) {
  #about #about-section #about-us {
    position: static;
  }
}

#about #about-section #about-us #about-title {
  font-size: 2em;
  font-weight: bolder;
  margin-top: 2px;
  text-shadow: 3px 3px 5px rgba(5, 5, 5, 0.3);
  margin-bottom: 20px;
}

#about #about-section #about-us #about-title .rec {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 5px 5px 2px rgba(5, 5, 5, 0.5);
}

#about #about-section #about-us #about-title-small {
  position: relative;
  left: 200px;
  color: rgba(5, 5, 5, 0.8);
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 2px;
  text-shadow: 10px 5px 3px rgba(5, 5, 5, 0.2);
  z-index: 4;
}

@media screen and (max-width: 864px) {
  #about #about-section #about-us #about-title-small {
    position: static;
  }
}

#about #about-section #about-us #about-p {
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 864px) {
  #about #about-section #about-us #about-p {
    margin-bottom: 25px;
  }
}

#about #about-section #about-us #h-line1 {
  position: relative;
  border: 2px solid #09814a;
  background-color: #09814a;
  left: 100px;
  z-index: 3;
  width: 70%;
}

@media screen and (max-width: 864px) {
  #about #about-section #about-us #h-line1 {
    position: static;
  }
}

#about #about-section #about-us #h-line3 {
  border: 3px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 7px rgba(5, 5, 5, 0.2);
          box-shadow: 0px 0px 7px rgba(5, 5, 5, 0.2);
  position: relative;
  width: 100%;
  z-index: 3;
  left: -100px;
}

@media screen and (max-width: 864px) {
  #about #about-section #about-us #h-line3 {
    display: none;
  }
}

/* ABOUT US END */
.slider-header {
  text-align: center;
  width: 100%;
  background-color: rgba(206, 204, 204, 0.1);
  padding-top: 6rem;
  position: relative;
}

@media screen and (max-width: 864px) {
  .slider-header {
    padding-top: 1rem;
  }
}

.slider-header h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  color: #09814a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}

.slider-header p {
  margin: 0;
  color: rgba(5, 5, 5, 0.8);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(206, 204, 204, 0.3);
  padding-bottom: 1rem;
}

.container {
  width: 100%;
  height: 70vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(9, 129, 74, 0.8)), to(rgba(206, 204, 204, 0.1)));
  background: linear-gradient(360deg, rgba(9, 129, 74, 0.8), rgba(206, 204, 204, 0.1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(5, 5, 5, 0.8);
  text-shadow: 3px 3px 0px rgba(206, 204, 204, 0.7);
}

.container .box {
  border: 1px solid #09814a;
  width: 350px;
  height: 450px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(0.5);
          backdrop-filter: blur(0.5);
  border-radius: 10px;
  -webkit-box-shadow: 2px 5px 5px rgba(5, 5, 5, 0.5);
          box-shadow: 2px 5px 5px rgba(5, 5, 5, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.container .heading {
  font-weight: bold;
  font-size: 1.5rem;
}

.container .model {
  height: 350px;
  max-height: 100%;
  max-width: 100%;
}

.container .details p {
  text-align: center;
}

.box:hover {
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  border: 1px solid #050505;
}

.box:hover .heading {
  color: #09814a;
  text-shadow: 2px 2px 3px rgba(5, 5, 5, 0.2);
}

@media (max-width: 720px) {
  .box {
    width: 94%;
    height: 290px;
  }
  .box .model {
    height: 250px;
  }
  .box .details p {
    font-size: 16px;
  }
}

.katalog-section {
  background: -webkit-gradient(linear, left bottom, left top, from(#fbfcf9), color-stop(rgba(9, 129, 74, 0.2)), to(rgba(9, 129, 74, 0.8)));
  background: linear-gradient(360deg, #fbfcf9, rgba(9, 129, 74, 0.2), rgba(9, 129, 74, 0.8));
  text-align: center;
}

.katalog-section .katalog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
  position: relative;
}

@media screen and (max-width: 864px) {
  .katalog-section .katalog-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.katalog-section .katalog-header h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  color: rgba(5, 5, 5, 0.9);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.2);
}

.katalog-section .katalog-header p {
  margin: 0;
  color: rgba(9, 129, 74, 0.4);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 2px 2px 0px rgba(5, 5, 5, 0.6);
  padding-bottom: 1rem;
}

.katalog-section .katalog-header p a {
  -webkit-text-decoration-color: #09814a;
          text-decoration-color: #09814a;
  color: white;
  text-shadow: 2px 2px 0px rgba(5, 5, 5, 0.5);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.katalog-section .katalog-header p a:hover {
  text-shadow: 2px 2px 5px #050505;
}

.katalog-section .katalog {
  width: 60%;
  height: 70vh;
  border-top: 10px solid #09814a;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, from(#cecccc), to(#fbfcf9));
  background: linear-gradient(360deg, #cecccc, #fbfcf9);
}

@media screen and (max-width: 864px) {
  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-section .contact-header {
  padding-top: 10rem;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 864px) {
  .contact-section .contact-header {
    padding-top: 2rem;
  }
}

.contact-section .contact-header h1 {
  color: #050505;
  text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 3rem;
  z-index: 2;
  margin-bottom: 0;
}

.contact-section .contact-header p {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.9);
  padding-bottom: 1rem;
  margin-top: 0;
}

.contact-section .contact-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
  gap: 1%;
  width: 50%;
  padding-bottom: 2rem;
}

@media screen and (max-width: 864px) {
  .contact-section .contact-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-section .contact-body .contact-item {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 2px solid #050505;
  -webkit-box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.6);
          box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.6);
  border-radius: 5%;
  padding: 1em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact-section .contact-body .contact-item h1 {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(5, 5, 5, 0.8);
}

.contact-section .contact-body .contact-item p {
  font-size: 1em;
  text-shadow: 1px 1px 3px rgba(5, 5, 5, 0.3);
}

.contact-section .contact-body .contact-item a {
  color: rgba(9, 129, 74, 0.9);
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.6);
          box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.6);
}

.contact-section .contact-body .contact-item a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #09814a;
  background-color: white;
}

.contact-section .contact-body .contact-item:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(5, 5, 5, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  width: 100%;
  height: 30vh;
}

@media screen and (max-width: 864px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 864px) {
  .footer {
    height: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .footer img {
    max-width: 200px;
    padding-left: 0px;
  }
}

.footer .footer-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 80%;
}

@media screen and (max-width: 864px) {
  .footer .footer-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 864px) {
  .footer .footer-first {
    height: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    width: 100%;
  }
}

.footer .footer-first .footer-about {
  width: 33.333%;
  text-align: left;
  border-left: 1px solid #09814a;
  border-right: 1px solid #09814a;
}

@media screen and (max-width: 864px) {
  .footer .footer-first .footer-about {
    text-align: center;
    border: 0px;
    width: 100%;
  }
}

.footer .footer-first .footer-about p {
  display: inline-block;
}

.footer .footer-first .footer-about img {
  display: inline-block;
  max-width: 335px;
  padding-left: 30px;
}

@media screen and (max-width: 864px) {
  .footer .footer-first .footer-about img {
    max-width: 200px;
    padding-top: 10px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 864px) and (max-width: 1500px) {
  .footer .footer-first .footer-about img {
    max-width: 150px;
  }
}

.footer .footer-first .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5%;
  width: 33.333%;
  text-align: left;
  border-left: 1px solid #09814a;
  border-right: 1px solid #09814a;
  padding-left: 30px;
}

@media screen and (max-width: 864px) {
  .footer .footer-first .footer-contact {
    border: 0px;
    padding: 0px;
    gap: 0;
    text-align: center;
    width: 100%;
  }
}

.footer .footer-first .footer-contact .footer-contact-item {
  padding-bottom: 10px;
}

.footer .footer-first .footer-contact .footer-contact-item a {
  font-size: 1.2rem;
  color: rgba(5, 5, 5, 0.7);
  text-decoration: none;
  position: relative;
  top: -7px;
}

@media screen and (max-width: 864px) {
  .footer .footer-first .footer-contact .footer-contact-item a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 864px) and (max-width: 1500px) {
  .footer .footer-first .footer-contact .footer-contact-item a {
    font-size: 1rem;
  }
}

.footer .footer-first .footer-contact .footer-contact-item a:hover {
  color: rgba(9, 129, 74, 0.7);
}

.footer .footer-first .footer-contact .footer-contact-item .fas {
  font-size: 2rem;
}

@media screen and (max-width: 864px) {
  .footer .footer-first .footer-contact .footer-contact-item .fas {
    font-size: 1.2rem;
  }
}

.footer .footer-first .footer-contact .footer-contact-item .fa-map-marker-alt {
  padding-left: 5px;
}

@media screen and (max-width: 864px) {
  .footer .footer-first .footer-contact .footer-contact-item .fa-map-marker-alt {
    padding: 0px;
  }
}

.footer .footer-first .footer-contact .footer-contact-item .fa-mobile-alt {
  padding-left: 7px;
}

@media screen and (max-width: 864px) {
  .footer .footer-first .footer-contact .footer-contact-item .fa-mobile-alt {
    padding: 0px;
  }
}

.footer .footer-first .footer-contact .footer-contact-item .fa-at {
  padding-left: 2px;
}

@media screen and (max-width: 864px) {
  .footer .footer-first .footer-contact .footer-contact-item .fa-at {
    padding: 0px;
  }
}

.footer .footer-first .footer-social {
  width: 33.333%;
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 864px) {
  .footer .footer-first .footer-social {
    text-align: center;
    width: 100%;
  }
}

.footer .footer-first .footer-social a {
  color: rgba(5, 5, 5, 0.8);
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .footer-first .footer-social a:hover {
  font-size: 3.1rem;
  color: rgba(9, 129, 74, 0.9);
}

.footer .footer-copyright {
  width: 100%;
  border-top: 1px solid #09814a;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 5px;
  padding-top: 5px;
}

.footer .footer-copyright a {
  color: rgba(9, 129, 74, 0.9);
  text-decoration: none;
}

.footer .footer-copyright a:hover {
  color: rgba(5, 5, 5, 0.8);
}
/*# sourceMappingURL=style.css.map */